# Dependencies
/vendor/
/node_modules/

# Build artifacts
/build/
/dist/

# Composer
composer.lock

# NPM
package-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment
.env
.env.local
*.backup.css
*.backup2.css
*.bak.php
