/**
 * Business Linker Block Editor Styles
 */

.bd-linked-business-panel .components-select-control__input {
    width: 100%;
}

.bd-linked-business-panel .components-base-control__help {
    margin-top: 8px;
    font-size: 12px;
    color: #757575;
}
